{% for context in entry.reply_context %}
  <article class="reply-context">
    <header>
      {% if context.author_photo %}
        <img src="{{context.author_photo}}"/>
      {% endif %}
      {% if context.author_name %}
        {{ context.author_name }} -
      {% endif %}
      {{ context.permalink | domain_for_url }}
    </header>
    {% if context.title %}
      <h1>{{ context.title }}</h1>
    {% endif %}
    {% if context.content %}
      <div>
        {{ context.content_cleaned() | add_preview }}
      </div>
    {% endif %}
    <footer>
      <a href="{{ context.permalink }}">{{ context.published | relative_time }}</a>
    </footer>
  </article>
{% endfor %}

<article>
  <header>
    {% if entry.author_photo %}
      <img src="{{entry.author_photo}}"/>
    {% endif %}
    {% if entry.author_name %}
      {{ entry.author_name }} -
    {% endif %}
    {% if entry.feed %}
      <a href="{{ url_for('.index', feed=entry.feed.get_feed_code()) }}">
        {{ entry.feed.name }}
      </a>
    {% endif %}
  </header>
  {% if entry.title %}
    <h1>{{ entry.title }}</h1>
  {% endif %}
  {% if entry.content %}
    <div>
      {{ entry.content_cleaned() | add_preview }}
    </div>
  {% endif %}
  <footer>
    <a href="{{ entry.permalink }}">{{ entry.published | relative_time }}</a>
    <div class="reply-area">
      {% include '_reply.jinja2' with context %}
    </div>
  </footer>
</article>
