{% set settings = current_user.settings or {} %}
{% set replyMethod = settings.get('reply-method') %}

{% if replyMethod == 'micropub' and current_user.micropub_endpoint %}

  <a class="reply-link show-like-form" href="#">Like</a>
  <a class="reply-link show-reply-form" href="#">Reply</a>
  <br/>

  <form class="like-form" action="{{ current_user.micropub_endpoint }}" method="POST" style="display:inline">
    <input type="hidden" name="access_token" value="{{current_user.access_token}}"/>
    <input type="hidden" name="h" value="entry"/>
    <input type="hidden" name="like-of" value="{{ entry.permalink }}"/>

    {% for target in current_user.get_setting('syndicate-to', []) %}
      {% set input_id = 'st-like-{}-{}'.format(entry.id, loop.index) %}
      <div class="toggle">
        <input id="{{ input_id }}" type="checkbox" name="syndicate-to[]"
               value="{{ target }}"/>
        <label for="{{ input_id }}">{{ target | prettify_url }}</label>
      </div>
    {% endfor %}

    <br/>
    <button type="submit" class="like-button">Like</button>
  </form>

  <form class="reply-form" action="{{ current_user.micropub_endpoint }}" method="POST">
    <input type="hidden" name="access_token" value="{{current_user.access_token}}"/>
    <input type="hidden" name="h" value="entry"/>
    <input type="hidden" name="in-reply-to" value="{{ entry.permalink }}"/>
    <textarea name="content"></textarea>

    {% for target in current_user.get_setting('syndicate-to', []) %}
      {% set input_id = 'st-reply-{}-{}'.format(entry.id, loop.index) %}
      <div class="toggle">
        <input id="{{ input_id }}" type="checkbox" name="syndicate-to[]"
               value="{{ target }}"/>
        <label for="{{ input_id }}">{{ target | prettify_url }}</label>
      </div>
    {% endfor %}
    <br/>

    <button type="submit" class="reply-button">Reply</button>
  </form>

  <div class="micropub-response">
  </div>

{% elif replyMethod == 'indie-config' %}
  {% for action in settings.get('indie-config-actions', []) %}
    <indie-action with="{{ entry.permalink }}" do="{{ action }}">
      <a class="reply-link" href="#">{{ action | capitalize }}</a>
    </indie-action>
  {% endfor %}
{% elif replyMethod == 'action-urls' %}
  {% for action, url in settings.get('action-urls', []) %}
    <a class="reply-link" href="{{ url | replace('{url}', entry.permalink) }}" target="_blank">{{ action | capitalize }}</a>
  {% endfor %}
{% endif %}
