<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  {% block head %}{% endblock %}
</head>
<body>
  {% if current_user.is_authenticated() %}
    <div class="logged-in">{{ current_user.domain }}</div>
  {% endif %}
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message | safe }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</body>
</html>
