<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Woodwind</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}"/>
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='logo.png') }}"/>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css', version='2015-02-19') }}"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
  <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

  {% block head %}{% endblock %}
</head>
<body>

  <header>
    {% if current_user.is_authenticated() %}
      <span class="h-x-app" style="font-weight: bold">
        <img class="u-logo" src="{{ url_for('static', filename='logo.png') }}" style="max-height: 1.5em; vertical-align: middle;" />
        Woodwind
      </span>
      <ul id="navigation">
        <li>
          <a href="{{ url_for('.index') }}">Home</a>
        </li>
        <li>
          <a href="{{ url_for('.feeds') }}">Feeds</a>
        </li>
        <li>
          <a href="{{ url_for('.settings') }}">Settings</a>
        </li>
        <li>
          {{ current_user.domain }}
          (<a href="{{ url_for('.logout') }}">Logout</a>)
        </li>
      </ul>

    {% else %}
      <h1 class="h-x-app">
        <img class="u-logo" src="{{ url_for('static', filename='logo.png') }}" style="max-height: 1.5em; vertical-align: middle;" />
        Woodwind
      </h1>
    {% endif %}
    {% if not current_user.is_authenticated() %}
      <form action="{{ url_for('.login') }}" method="POST">
        <input type="text" name="me" placeholder="mydomain.com" />
        <input type="hidden" name="next" placeholder="{{ request.path }}" />
        <button type="submit">Login</button>
      </form>
    {% endif %}

    {% block header %}{% endblock %}
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message | safe }}</div>
    {% endfor %}
  </header>

  <main>
    {% block body %}{% endblock %}
  </main>
</body>
</html>
