{% extends "base.jinja2" %}
{% block head %}
<script src="{{url_for('static', filename='feed.js')}}"></script>
{% endblock head %}

{% block header %}
  {% if current_user.is_authenticated() %}
    <form action="{{ url_for('.subscribe') }}" method="POST">
      <input type="url" id="origin" name="origin" placeholder="Subscribe to URL" />
    </form>
  {% endif %}
{% endblock header %}

{% block body %}

  {% for entry in entries %}
    <article>
      <header>
        {% if entry.author_photo %}
          <img src="{{entry.author_photo}}"/>
        {% endif %}
        {% if entry.author_name %}
          {{ entry.author_name }} -
        {% endif %}
        {{ entry.feed.name }}
      </header>
      {% if entry.title %}
        <h1>{{ entry.title }}</h1>
      {% endif %}
      {% if entry.content %}
        <div>
          {{ entry.content_cleaned() }}
        </div>
      {% endif %}
      <footer>
        <a href="{{ entry.permalink }}">{{ entry.published }}</a>

        {% if current_user.micropub_endpoint %}
          <form class="like-form" action="{{ current_user.micropub_endpoint }}" method="POST" style="display:inline">
            <input type="hidden" name="access_token" value="{{current_user.access_token}}"/>
            <input type="hidden" name="h" value="entry"/>
            <input type="hidden" name="like-of" value="{{ entry.permalink }}"/>
            <button type="submit" class="like-button">Like</button>
            <span class="submit-response"></span>
          </form>

          <button class="show-reply-form">Reply</button>

          <form class="reply-form" action="{{ current_user.micropub_endpoint }}" method="POST">
            <input type="hidden" name="access_token" value="{{current_user.access_token}}"/>
            <input type="hidden" name="h" value="entry"/>
            <input type="hidden" name="in-reply-to" value="{{ entry.permalink }}"/>
            <textarea name="content"></textarea>
            <button type="submit" class="reply-button">Reply</button>
            <span class="submit-response"></span>
          </form>
        {% endif %}

      </footer>
    </article>
  {% endfor %}

  {% if entries %}
    <div class="pager">
      <a id="older-link" href="{{ url_for(request.endpoint, page=page+1)}}">Older</a>
    </div>
  {% endif %}

{% endblock body %}
