{% extends "base.jinja2" %}

{% block header %}
  {% if current_user.is_authenticated() %}
    <form action="{{ url_for('.subscribe') }}" method="POST">
      <input type="url" id="origin" name="origin" placeholder="Subscribe to URL" />
    </form>
  {% endif %}
{% endblock header %}

{% block body %}

  {% for feed in feeds %}
    <article>
      <form style="display:inline"
            action="{{ url_for('.edit_feed') }}" method="POST">
            <input type="hidden" name="id" value="{{ feed.id }}"/>
            <label>Name</label>
            <input type="text" name="name" value="{{  feed.name }}"/>
            <label>URL</label>
            <input type="text" name="feed" value="{{ feed.feed }}"/>
            <button type="submit">Save</button>
      </form>
      <form style="display:inline;"
            action="{{ url_for('.update_feed') }}" method="GET">
            <input type="hidden" name="id" value="{{ feed.id }}"/>
            <button type="submit">Update</button>
      </form>
      <form style="display:inline;"
            action="{{ url_for('.delete_feed') }}" method="POST">
            <input type="hidden" name="id" value="{{ feed.id }}"/>
            <button type="submit">Delete</button>
      </form>
    </article>
  {% endfor %}

{% endblock body %}
