{% extends "base.jinja2" %}
{% block body %}

  <main>
    {% for entry in entries %}
      <article>
        <header>
          {% if entry.author_photo %}
            <img src="{{entry.author_photo}}"/>
          {% endif %}
          {% if entry.author_name %}
            {{ entry.author_name }} -
          {% endif %}
          {{ entry.feed.name }}
        </header>
        {% if entry.title %}
        <h1>{{ entry.title }}</h1>
        {% endif %}
        {% if entry.content %}
        <div>
          {{ entry.content_cleaned() }}
        </div>
        {% endif %}
        <div>
          <a href="{{ entry.permalink }}">{{ entry.published }}</a>
        </div>
      </article>
    {% endfor %}
  </main>

{% endblock body %}
