{% extends "base.jinja2" %}
{% block body %}
  <main>
    <form action="{{ url_for('.subscribe') }}" method="POST">
      <input type="hidden" id="origin" name="origin" value="{{ origin }}" />

      {% for feed in feeds %}
        <p>
          <input type="radio" name="feed" id="radio-{{ loop.index  }}"
                 value="{{ feed.get('type')}}|{{ feed.get('feed') }}" />
          <label for="radio-{{loop.index}}">
            {{ feed.get('feed') }} ({{ feed.get('type') }})
          </label>
        </p>
      {% endfor %}


      <button type="submit" id="subscribe">Subscribe</button>
    </form>


  </main>
{% endblock body %}
