{% extends "base.jinja2" %}
{% block body %}
  <main>
    <form method="POST">
      {% set reply_method = settings.get('reply-method') %}
      <h2>Reply Mechanism</h2>
      <p>
        <input type="radio" id="reply-method-micropub" name="reply-method" value="micropub" {% if reply_method == 'micropub' %}checked{% endif %}/>
        <label for="reply-method-micropub">Micropub.</label>
        Each post will have Like, Repost, and Reply buttons that will post content to your site directly via micropub. See <a href="https://indieweb.org/Micropub">Micropub</a> for details.
      </p>
      <p>
        <input type="radio" id="reply-method-indie-config" name="reply-method" value="indie-config" {% if reply_method == 'indie-config' %}checked{% endif %}/>
        <label for="reply-method-indie-config">Indie-config.</label>
        Clicking an indie-action link will invoke your <code>web+action</code> handler if registered. See <a href="https://indieweb.org/indie-config">indie-config</a> for details.
      </p>
      <p>
        <input type="radio" id="reply-method-action-urls" name="reply-method" value="action-urls" {% if reply_method == 'action-urls' %}checked{% endif %}/>
        <label for="reply-method-action-urls">Configurable action urls.</label>
        Manually configure your own web action handlers. The placeholder <code>{url}</code> will be replaced with the permalink URL of each entry.
      </p>
      <button type="submit">Next</button>
    </form>
  </main>

{% endblock body %}
