{% extends "base.jinja2" %}
{% block body %}
    <form method="POST">
      <input type="text" id="origin" name="origin" placeholder="Feed URL" />
      <button type="submit" id="subscribe">Subscribe</button>
    </form>
{% endblock body %}
