asyncio-redis==0.15.1
beautifulsoup4==4.7.1
bleach==3.1.0
blinker==1.4
certifi==2015.04.28  # rq.filter: <=2015.04.28
cffi==1.12.1
click==7.0
cryptography==2.5
feedparser==5.2.1
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Micropub==0.2.8
Flask-SQLAlchemy==2.3.2
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
mf2py==1.1.2
mf2util==0.5.1
psycopg2==2.7.7
pyasn1==0.4.5
pycparser==2.19
pyOpenSSL==19.0.0
pyquerystring==1.1
pytz==2018.9
redis==3.2.0
requests==2.21.0
rq==0.13.0
sgmllib3k==1.0.0
six==1.12.0
SQLAlchemy==1.2.18
uWSGI==2.0.12  # rq.filter: <=2.0.12
websockets==7.0
Werkzeug==0.14.1
wheel==0.33.1
