asyncio-redis==0.14.2
beautifulsoup4==4.4.1
bleach==1.4.3
blinker==1.4
certifi==2015.04.28  # rq.filter: <=2015.04.28
cffi==1.7.0
click==6.6
cryptography==1.4
feedparser==5.2.1
Flask==0.11.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-Micropub==0.2.6
Flask-SQLAlchemy==2.1
html5lib==0.999999999
idna==2.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mf2py==1.0.5
mf2util==0.4.2
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.0.0
pyquerystring==1.0.2
pytz==2016.6.1
redis==2.10.5
requests==2.10.0
rq==0.6.0
sgmllib3k==1.0.0
six==1.10.0
SQLAlchemy==1.0.14
uWSGI==2.0.12  # rq.filter: <=2.0.12
websockets==3.1
Werkzeug==0.11.10
wheel==0.29.0
