@import "normalize";


$title-font: Helvetica, Arial, sans-serif;
/*$body-font: Georgia, Times New Roman, serif;*/
$body-font: $title-font;

/* Subtlety of Hue */
$lunar-green: #484A47;
$pine-glade: #C1CE96;
$athens-gray: #ECEBF0;
$sirocco: #687D77;
$armadillo: #353129;

$box-shadow: 0 0 2px $sirocco;


body {
    font: 12pt $body-font;
    background: $athens-gray;
}


header, main {
    max-width: 600px;
    margin: 0 auto;
}

header {
    margin-bottom: 1em;
}

ul#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;

    li {
        display: inline-block;
        padding: 3px;
    }
}

.pager {
    text-align: center;
    margin: 1em 0;

    a {
        padding: 0.5em;
        background-color: $armadillo;
        color: $athens-gray;
        border: 1px solid $athens-gray;
        border-radius: 4px;
        display: inline-block;
    }
}

article {
    margin-bottom: 2em;
    box-shadow: $box-shadow;
    background-color: white;
    padding: 0.5em;

    img  {
        max-width: 100%;
    }

    header {
        img {
            max-width: 64px;
            max-height: 64px;
            min-width: 48px;
            min-height: 48px;
            margin-left: -85px;
            float: left;
            border-radius: 4px;
        }
        color: $lunar-green;
        border-bottom: 1px solid $sirocco;
        margin-bottom: 0.5em;
    }

    footer {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    h1 {
        font-size: 1.2em;
        font-weight: bold;
    }
}

label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
}

textarea, input[type="text"], input[type="url"] {
    width: 100%;
    margin: 0.25em 0;

    &.input-25 {
        width: 23%;
    }
    &.input-50 {
        width: 48%;
    }
    &.input-75 {
        width: 73%;
    }
}

.reply-area {
    text-align: center;
    .reply-link {
        display: inline-block;
        padding: 0.2em;
        border: 1px solid $sirocco;
        border-radius: 4px;
        background-color: $athens-gray;
        text-decoration: none;
        color: $lunar-green;
        min-width: 50px;
        text-align: center;
    }
    .like-form, .reply-form {

    }
}

button {
    padding: 0.25em;
}

form {
    margin: 1em 0;
}


.toggle {
    font-family: sans-serif;
    background-color: #eee;
    display: inline-block;
    border-radius: 4px;
    padding: 0.2em 2em 0.2em 0.2em;

    input {
        display: none;
    }

    label {
        font-weight: inherit; /* override bootstrap */
        margin: inherit; /* override bootstrap */
        position: relative;
        transition: transform 0.1s;
        cursor: pointer;
        background-color: #ccc;
        color: #666;
        display: inline-block;
        padding: 0.25em 1em;
        border-radius: 3.8px;
    }

    input:checked + label {
        background-color: #337AB7;
        color: #fff;
        transform: translateX(1.8em);
    }
}


@media only screen and (max-width: 800px) {
    article {
        header {
            img {
                vertical-align: text-middle;
                margin: inherit;
                display: inline;
                max-width: 1.2em;
                max-height: 1.2em;
                min-width: inherit;
                min-height: inherit;
            }
        }
    }
}
