@import "normalize";


$title-font: Helvetica, Arial, sans-serif;
/*$body-font: Georgia, Times New Roman, serif;*/
$body-font: $title-font;

/* Subtlety of Hue */
$lunar-green: #484A47;
$pine-glade: #C1CE96;
$athens-gray: #ECEBF0;
$sirocco: #687D77;
$armadillo: #353129;

$box-shadow: 0 0 2px $sirocco;


body {
    font: 12pt $body-font;
    background: $athens-gray;
}


header, main {
    max-width: 600px;
    margin: 0 auto;
}

header {
    margin-bottom: 1em;
}

ul#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;

    li {
        display: inline-block;
        padding: 3px;
    }
}

.pager {
    text-align: center;
    margin: 1em 0;

    a {
        padding: 0.5em;
        background-color: $armadillo;
        color: $athens-gray;
        border: 1px solid $athens-gray;
        border-radius: 4px;
        display: inline-block;
    }
}

article {
    margin-bottom: 2em;
    box-shadow: $box-shadow;
    background-color: white;
    padding: 0.5em;

    img  {
        max-width: 100%;
    }

    header {
        img {
            max-width: 64px;
            max-height: 64px;
            margin-left: -85px;
            float: left;
            border-radius: 4px;
        }
        color: $lunar-green;
        border-bottom: 1px solid $sirocco;
        margin-bottom: 0.5em;
    }

    footer {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    h1 {
        font-size: 1.2em;
        font-weight: bold;
    }
}

label {
    font-weight: bold;
    display: block;
}

textarea, input[type="text"], input[type="url"] {
    width: 100%;
    margin: 0.25em 0 ;
}

button {
    padding: 0.25em;
}

form {
    margin: 1em 0;
}

@media only screen and (max-width: 800px) {
    article {
        header {
            img {
                vertical-align: text-middle;
                margin: inherit;
                display: inline;
                max-width: 1.2em;
                max-height: 1.2em;
            }
        }
    }
}
