@import "normalize";


$title-font: Helvetica, Arial, sans-serif;
/*$body-font: Georgia, Times New Roman, serif;*/
$body-font: $title-font;

/* Subtlety of Hue */
$lunar-green: #484A47;
$pine-glade: #C1CE96;
$athens-gray: #ECEBF0;
$sirocco: #687D77;
$armadillo: #353129;

$box-shadow: 0 0 2px $sirocco;


body {
    font: 12pt $body-font;
    background: $athens-gray;
    padding-top: 1em;
}


a {
    color: #336699;
    text-decoration: none;
}

a:hover {
    color: #993366;
}


p {
    &:first-child {
        margin-top:0;
    }
    &:last-child {
        margin-bottom:0;
    }
}

header, main {
    max-width: 600px;
    margin: 0 auto;
}

header {
    margin-bottom: 1em;
}

ul#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;

    li {
        display: inline-block;
        padding: 3px;
    }
}

.button-link {
    text-align: center;
    margin: 1em 0;

    a {
        padding: 0.5em;
        background-color: $armadillo;
        color: $athens-gray;
        border: 1px solid $athens-gray;
        border-radius: 4px;
        display: inline-block;
    }
}

#fold {
    display: none;
}

#unfold-link {
    display: none;
}

article {
    margin-bottom: 2em;
    box-shadow: $box-shadow;
    background-color: white;
    padding: 0.5em;

    &.reply-context {
        margin-bottom: 0;
        background-color: #f3f3f3;
        .content img {
            max-height: 240px;
            max-width: 240px;
        }
    }

    div {
        overflow: auto;

        /*p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }*/
    }

    img, video  {
        max-width: 100%;
    }

    header {
        img {
            vertical-align: middle;
            margin: inherit;
            display: inline;
            max-width: 1.2em;
            max-height: 1.2em;
            min-width: inherit;
            min-height: inherit;
        }

        color: $lunar-green;
        border-bottom: 1px solid $sirocco;
        margin-bottom: 0.5em;
        overflow: auto;
    }

    footer {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    h1 {
        font-size: 1.2em;
        font-weight: bold;
    }
}

label {
    font-weight: bold;
    display: inline-block;
    margin: 5px 0 2px 0;
    max-width: 100%;
}

textarea, input[type="text"], input[type="url"] {
    width: 100%;
    margin: 0.25em 0;

    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0x 1px 1px rgba(0, 0, 0, 0.075) inset;

    &.input-25 {
        width: 23%;
    }
    &.input-50 {
        width: 48%;
    }
    &.input-75 {
        width: 73%;
    }
}

button {
    border: 1px solid rgb(204, 204, 204);
    background: #efefef;
    color: #003366;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 5px 5px 5px 0;
    box-shadow: 0 1px 1px #ccc;
    &:hover {
        background: white;
    }
    &:active {
        box-shadow: 0 0;
        margin: 6px 4px 4px 1px;
    }
}


.micropub-form {
    .content {
        height: 1em;
        width: calc(100% - 1.4em - 96px);
        padding: 3px;
        margin: 0;
        vertical-align: middle;
    }

    button {
        height: 24px;width: 24px;
        padding: 4px;
        background-color: #eee;
        border-radius: 3px;
        border: 0;
        line-height: 1;
        vertical-align: middle;
    }
}

.syndication-toggle {
    display: inline-block;
    margin-top: 0.25em;
    height: 32px;
    width: 32px;

    input {
        display: none;
    }

    label {
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        width: 16px;
        padding: 4px;
        border-radius: 3px;
        background-color: #eee;
        margin: 0;

        color: #666;
        cursor: pointer;

        img {
            max-height: 16px;
            max-width: 16px;
        }
    }

    input:checked + label {
        background-color: #337AB7;
        color: #fff;
    }
}


.reply-area {
    text-align: center;
    margin-top: 0.5em;

    .content {
        height: 4em;
    }

    .reply-link {
        display: inline-block;
        padding: 0.2em;
        border: 1px solid $sirocco;
        border-radius: 4px;
        background-color: $athens-gray;
        text-decoration: none;
        color: $lunar-green;
        min-width: 50px;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    article {
        header {
            img {
                vertical-align: text-middle;
                margin: inherit;
                display: inline;
                max-width: 1.2em;
                max-height: 1.2em;
                min-width: inherit;
                min-height: inherit;
            }
        }
    }
}
